header{
    background-color: grey;
    height: 200px;
    width: 2000px;
    margin: -10px;
    text-align: center;
    font:normal 100px 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}